<template>
    <div class="listrak-process-button">
        <sw-button-process
            class="listrak-process-button"
            :is-loading="isLoading"
            :process-success="isImportSuccessful"
            @process-finish="importFinish"
            @click="importOrders"
        >
            {{ $tc('fullOrderSyncButton.buttonLabel') }}
        </sw-button-process>
    </div>
</template>