<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Data Integration Settings</title>
        <title lang="de-DE">Datenintegrationseinstellungen</title>

        <input-field>
            <name>merchantId</name>
            <label>Merchant ID</label>
            <helpText>Listrak Merchant ID</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>dataClientId</name>
            <label>Data Client ID</label>
            <helpText>Data Integration Client ID</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>dataClientSecret</name>
            <label>Data Integration Client Secret</label>
            <required>true</required>
        </input-field>

        <component name="data-api-test">
            <name>dataApiTest</name>
        </component>

    </card>


    <card>
        <title>Email Integration Settings</title>
        <title lang="de-DE">E-Mail-Integrationseinstellungen</title>

        <input-field>
            <name>listId</name>
            <label>List ID</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>emailClientId</name>
            <label>Email Integration Client ID</label>
            <required>true</required>
        </input-field>

        <input-field>
            <name>emailClientSecret</name>
            <label>Email Integration Client Secret</label>
            <required>true</required>
        </input-field>

        <input-field type="int">
            <name>salutationSegmentationFieldId</name>
            <label>Salutation Field Id</label>
        </input-field>
        <input-field type="int">
            <name>firstNameSegmentationFieldId</name>
            <label>First Name Field Id</label>
        </input-field>
        <input-field type="int">
            <name>lastNameSegmentationFieldId</name>
            <label>Last Name Field Id</label>
        </input-field>

        <component name="email-api-test">
            <name>emailApiTest</name>
        </component>

    </card>

    <card>
        <title>Sync Settings</title>
        <title lang="de-DE">
            Synchronisierungseinstellungen
        </title>

        <component name="full-customer-sync">
            <name>fullCustomerSync</name>
        </component>
        <component name="full-order-sync">
            <name>fullOrderSync</name>
        </component>
        <component name="full-newsletter-recipient-sync">
            <name>fullNewsletterRecipientSync</name>
        </component>

        <input-field type="bool">
            <name>enableCartAbandonmentTracking</name>
            <label>Enable Cart Abandonment Tracking</label>
            <label lang="de-DE">Aktivieren Sie die Verfolgung abgebrochener Warenkörbe</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableCustomerSync</name>
            <label>Enable Customer Synchronization</label>
            <label lang="de-DE">Aktivieren Sie die Kundensynchronisierung</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableOrderSync</name>
            <label>Enable Order Synchronization</label>
            <label lang="de-DE">Aktivieren Sie die Auftragssynchronisierungg</label>
            <defaultValue>false</defaultValue>
        </input-field>

    </card>

</config>
