<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>General Settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>

        <input-field>
            <name>merchantId</name>
            <label>Merchant ID</label>
            <helpText>Listrak Merchant ID</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>dataClientId</name>
            <label>Client ID</label>
            <helpText>Listrak Data Client ID</helpText>
            <required>true</required>
        </input-field>

        <input-field>
            <name>dataClientSecret</name>
            <label>Client Secret</label>
            <helpText>Listrak Data Client Secret</helpText>
            <required>true</required>
        </input-field>

    </card>

    <card>
        <title>Sync Settings</title>
        <title lang="de-DE">
            Synchronisierungseinstellungen
        </title>
        <input-field type="bool">
            <name>enableCustomerSync</name>
            <label>Enable Customer Synchronization</label>
            <label lang="de-DE">Aktivieren Sie die Kundensynchronisierung</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>enableOrderSync</name>
            <label>Enable Order Synchronization</label>
            <label lang="de-DE">Aktivieren Sie die Auftragssynchronisierungg</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

</config>
