<template>
        <div class="listrak-process-button">
        <sw-button-process
                :is-loading="isLoading"
                :process-success="isImportSuccessful"
                @process-finish="importFinish"
                @click="importCustomers"
        >
            {{ $tc('fullCustomerSyncButton.buttonLabel') }}
        </sw-button-process>
        </div>
</template>

